{% extends "base.html" %}
{% load markdown %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ post.title }}</h2>

        {{ post.text|markdown|safe }}

        <p class="subscribe">
          <small>Subscribe by <a href="http://eepurl.com/cVwzdr"><i class="fa fa-envelope-o" aria-hidden="true"></i>
            <span class="underline">email</span></a>
            or follow me on <a href="https://twitter.com/lukezapart"><i class="fa fa-twitter" aria-hidden="true"></i>
              <span class="underline">Twitter</span></a>.
          </small>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
